@model List<KoiosTask.Model.City>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Add a city</h1>

<div id="add-city-form-wrapper"></div>

<h1>City list</h1>

<div id="table-container">
    <partial name="_CityTable" />
</div>

<div class="modal fade" id="editCityModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit City</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
        //ADD FORM SETUP
        $.ajax({
            url: "@Url.Action("GetAddCityForm")",
            method: "GET",
            success: function (html) {
                //GET COUNTRY DROPDOWN
                $("#add-city-form-wrapper").html(html);
                $.ajax({
                    url: "@Url.Action("GetCountryDropdown")",
                    method: "POST",
                    success: function (html) {
                        $("#add-city-select-wrapper").html(html);
                    }
                })
                
                //SUBMIT LOGIC AND VALIDATION
                $("#add-city-form").on("submit", function(e) {
                    e.preventDefault();
                    if ($("#add-city-form").valid()) {
                        $.ajax({
                            url: "@Url.Action("AddCity", "Home")",
                            method: "POST",
                            data: $("#add-city-form").serialize(),
                            success: function(html) {
                                $("#table-container").html(html);
                                $('#add-city-form').trigger("reset");
                            }
                        })
                    }
                })
            }
        }) 
    })

    //EDIT FORM SETUP
    $("#table-container").on("click", ".editCityModalButton", function() {
        let selectedCountryId = $(this).data("countryid");

        //GET EDIT FORM
        $.ajax({
            url:"@Url.Action("GetUpdateCityForm", "Home")",
            method:"POST",
            data:{cityId:$(this).data("cityid")},
            success:function(html){
                $("#modalBody").html(html);
                //GET COUNTRY DROPDOWN
                $.ajax({
                    url: "@Url.Action("GetCountryDropdown")",
                    method: "POST",
                    data:{idSelected:selectedCountryId},
                    success: function (html) {
                        $("#edit-city-select-wrapper").html(html);
                    }
                })

                //SUBMIT LOGIC AND VALIDATION
                $("#edit-city-form").on("submit", function(e) {
                    e.preventDefault();
                    
                    if ($("#edit-city-form").valid()) {
                        $.ajax({
                            url: "@Url.Action("UpdateCity", "Home")",
                            method: "POST",
                            data: $("#edit-city-form").serialize(),
                            success: function(html) {
                                $("#table-container").html(html);
                                $('#editCityModal').modal('toggle');
                            }
                        })
                    }
                })
            }
        })
    })
</script>
} 